@import "tailwindcss";
/* As 2025, this plugin overrides all the CSS rules,
if installed globally. Solution: run this plugin 
locally and extend its use only where it is needed */

/* @plugin "tailwindcss/typography";  */

:root {
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
}
